.big-image {
  width: 360px;
  height: 220px;
}

img {
  width: 170px;
  height: 130px;
}

.header-container {
  background: #1f2937;
  height: 390px;
  width: 100%;
}

.top-header {
  display: flex;
  justify-content: space-between;
}

.bottom-header {
  display: flex;
  justify-content: space-between;
  margin: 50px 100px;
}

.bottom-header-left {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-shrink: 0;
  margin-top: 16px;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  color: #f9faf8;
  margin-top: 12px;
  margin-left: 100px;
}

.main-title {
  font-size: 58px;
  font-weight: bolder;
  color: #f9faf8;
}

.subtitle {
  font-size: 24px;
  color: #e5e7eb;
}

.random-info-text {
  display: flex;
  justify-content: center;
  font-size: 36px;
  color: #1f2937;
}

.info-container {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  margin-bottom: 36px;
}

.info {
  max-width: 170px;
}

.quote-container {
  background-color: #e5e7eb;
  height: 345px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote {
  font-style: italic;
  font-size: 32px;
  color: #1f2937;
  max-width: 400px;
}

.attribute {
font-size: 18px;
font-weight: 600;
}

.last-section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.modal-container {
  background-color: #3882f6;
  border-radius: 6px;
  width: 800px;
  display: flex;
  justify-content: space-evenly;
  color: white;
  padding: 54px;
}

.modal-container-left {
  display: flex;
  flex-direction: column;
}

.modal-container-right: {
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-to-action{
font-size: 22px;
font-weight: bold;
}

.sign-up-text {
font-size: 17px;
}

.footer {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: #e5e7eb;
}

ul {
  display: flex;
  list-style: none;
  gap: 22px;
  margin-right: 100px;
}

button.sign-up1, button.sign-up2 {
  width: 120px;
  height: 35px;
  border-radius: 12px;
  background-color: #3882f6;
  color: white;
  font-size: 15px;
  border: none;
  border: 2px solid white;
  margin-top: 6px;
}

button.sign-up1 { 
  border: none;
}
  